In [1]:
import pandas as pd

In [ ]:
data ={
    'Alunos': ['Caio', 'Jorge','Sophia', 'Claudia', 'Miguel', 'Helena','Bernardo','Valentina', 'Carol', 'Guilherme', 'Otavio', 'Marina', 'Murilo'],
    'Idade': [16, 18, 17, 15, 16, 16, 16, 17, 17, 15, 17, 16, 16],
    'Nota': [10, 7, 8, 6, 5, 3, 9, 8, 7, 6, 5, 8, 9]
}
df = pd.DataFrame(data, columns=['Alunos', 'Idade', 'Nota'])

df.describe()

df.drop([0, 1])

df = df.drop([0, 1])

df.count()

df.columns


print(df.columns)

In [ ]:
df.shape

In [ ]:
df['Idade'].max()

In [ ]:
df['Idade'].min()

In [ ]:
df['Nota'].min()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.sum()

In [ ]:
df = df['Nota'].add(10)

In [ ]:
df['Idade'].sub(3)

In [ ]:
df['Idade'].mul(10)

In [ ]:
df['Idade'].div(10)

In [ ]:
print(df['Nota'],[1])

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.loc[df['Nota'] <= 6]

In [ ]:
df.loc[df['Idade'] <= 15]